ion-content{
  .container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
  }

  ion-input{
    margin-bottom: var(--app-padding);
  }

  ion-button{
    min-height: 40px;
  }
}

