ion-card-content {
  padding: 10px;
  ion-item ion-label {
    padding-bottom: 6px;
  }

  ion-thumbnail {
    --border-radius: 6px;
  }
}

::ng-deep{
  app-stars.current-user-stars div div span.star{
    background-color: var(--ion-color-primary-contrast) !important;
  }
}
