<ion-card
  *ngIf="supermarket; else skeleton"
  button="true"
  class="ion-no-margin ion-margin-vertical"
>
  <img
    *ngIf="supermarket.imageURL$ | async as Image; else imagePlaceholder"
    alt="supermarket-image"
    [src]="Image"
  />
  <ion-card-header>
    <ion-card-title>{{ supermarket.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <span *ngIf="supermarket.address">{{ supermarket.address }}, </span>
    <span *ngIf="supermarket.city">{{ supermarket.city }}, </span>
    <span *ngIf="supermarket.country">{{ supermarket.country }}</span>
    <app-stars></app-stars>
  </ion-card-content>
</ion-card>

<ng-template #skeleton>
  <ng-container [ngTemplateOutlet]="imagePlaceholder"></ng-container>
  <ion-card-header>
    <ion-skeleton-text></ion-skeleton-text>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text></ion-skeleton-text>
  </ion-card-content>
</ng-template>
<ng-template #imagePlaceholder>
  <img
    alt="supermarket-image"
    src="../../../../assets/placeholders/placeholder-image-dark.jpg"
  />
</ng-template>
