<ion-card
  class="ion-no-margin ion-margin-vertical"
  *ngIf="rating; else skeleton"
>
  <ion-card-content>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
        />
      </ion-thumbnail>
      <ion-label>{{ rating.username + ", " + rating.categoryName }}</ion-label>
      <div>
        <app-stars [initialNrStars]="rating.ratingValue"></app-stars>
      </div>
    </ion-item>
  </ion-card-content>
</ion-card>

<ng-template #skeleton>
  <!--TODO-->
</ng-template>
