<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="ion-no-margin" color="primary">
    <ion-card-content>
      <ion-item color="primary" lines="none" *ngIf="currentUser$ | async as currentUser; else userSkeleton" (click)="updateUserImage()">
        <ion-thumbnail slot="start">
          <img
            *ngIf="currentUserImage$ | async as currentUserImage; else imagePlaceholder"
            alt="User profile picture"
            [src]="currentUserImage"
          />
        </ion-thumbnail>
        <ion-label>{{currentUser.username}}</ion-label>
        <ion-button>
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-margin ion-margin-vertical cursor" (click)="openAbout()">
    <ion-card-content>
      <!--      item about why this app exists-->
      <ion-item>
        <ion-label>Why this app exists</ion-label>
        <ion-button fill="outline" slot="end">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="signOut()" fill="outline" expand="block"
    >Sign out</ion-button
  >
</ion-content>

<input
  #fileInput
  type="file"
  accept="image/*"
  hidden
  (change)="updateUserImageFromDevice($any($event.target))"
/>

<ng-template #userSkeleton>
  <ion-skeleton-text
    animated="true"
    style="width: 100%; height: 100px"
    [style]="{ 'margin-bottom': '10px' }"
  ></ion-skeleton-text>
</ng-template>

<ng-template #imagePlaceholder>
  <ion-img src="assets/placeholders/avatar.svg"></ion-img>
</ng-template>
