<ng-container *ngIf="detailEntity; else loading">
  <ion-content *ngIf="!error; else showError">
    <ion-back-button defaultHref="/tabs/supermarkets"></ion-back-button>
    <ng-container *ngIf="image$">
      <img
        (click)="editImageButtonsDisplayed = !editImageButtonsDisplayed"
        *ngIf="image$ | async as Image; else imagePlaceholder"
        alt="supermarket-image"
        [src]="Image"
      />
      <ion-buttons
        class="image-actions ion-padding"
        *ngIf="detailEntity && editImageButtonsDisplayed"
      >
        <ion-button
          color="danger"
          expand="block"
          fill="outline"
          [disabled]="true"
          class="ion-margin-horizontal"
          >Delete image</ion-button
        >
        <ion-button
          expand="block"
          class="ion-margin-end"
          color="primary"
          fill="outline"
          (click)="updateImage(detailEntity)"
          >Add image</ion-button
        >
      </ion-buttons>
    </ng-container>
    <div class="container">
      <div class="header">
        <h2>{{title}}</h2>
        <div class="place" *ngIf="place">
          <ion-icon name="location" class="place-icon"></ion-icon>{{place}}
        </div>
        <!--        TODO: Add the average of all ratings on each supermarket -->
        <app-stars></app-stars>
      </div>
      <div class="ion-margin-vertical ratings"></div>
      <ion-button
        *ngIf="!haveWeRatedYet"
        expand="full"
        (click)="openAddRating()"
        >+ Add a rating</ion-button
      >
      <app-rating [rating]="rating" *ngFor="let rating of ratings"></app-rating>
    </div>
  </ion-content>

  <ng-template #imagePlaceholder>
    <img
      alt="supermarket-image"
      src="assets/placeholders/placeholder-image-dark.jpg"
    />
  </ng-template>

  <input
    *ngIf="detailEntity"
    #fileInput
    type="file"
    accept="image/*"
    hidden
    (change)="takeImageFromDevice(detailEntity, $any($event.target))"
  />

  <ng-template #showError>
    <ion-content>
      <app-error-message [message]="error"></app-error-message>
    </ion-content>
  </ng-template>
</ng-container>

<ng-template #loading>
  <ion-content> <ion-spinner></ion-spinner> </ion-content
></ng-template>
