<ng-container *ngIf="detailEntity; else loading">
  <ion-content *ngIf="!error; else showError">
    <ion-refresher slot="fixed" (ionRefresh)="refreshEverything()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-back-button defaultHref="/tabs/supermarkets"></ion-back-button>
    <ng-container *ngIf="image$ !== undefined ; else imageSkeleton">
      <span (click)="editImageButtonsDisplayed = !editImageButtonsDisplayed">
        <img
          *ngIf="image$| async as image; else imagePlaceholder"
          alt="supermarket-image"
          [src]="image"
      /></span>
      <ion-buttons
        class="image-actions ion-padding"
        *ngIf="detailEntity && editImageButtonsDisplayed"
      >
        <!--        <ion-button-->
        <!--          color="danger"-->
        <!--          expand="block"-->
        <!--          fill="outline"-->
        <!--          [disabled]="true"-->
        <!--          class="ion-margin-horizontal"-->
        <!--          >Delete image</ion-button-->
        <!--        >-->
        <ion-button
          expand="block"
          class="ion-margin-end"
          color="primary"
          fill="outline"
          (click)="updateImage(detailEntity)"
          >Add image</ion-button
        >
      </ion-buttons>
    </ng-container>
    <div class="container">
      <div class="header">
        <h2>{{title | titlecase}}</h2>
        <div class="place" *ngIf="place">
          <ion-icon name="location" class="place-icon"></ion-icon>{{place}}
        </div>
        <app-stars
          *ngIf="averageRating !== null && averageRating !== undefined; else noRatings"
          [initialNrStars]="averageRating"
        ></app-stars>
        <div class="date-created">
          Created: {{ dateCreated | date: "dd/MM/yyyy" }}
        </div>
        <ng-template #noRatings>
          <div class="no-ratings">No ratings yet</div>
        </ng-template>
      </div>
      <div class="ion-margin-vertical ratings"></div>
      <ng-container>
        <app-ratings
          [ratings]="ratings"
          [currentUserId]="currentUserId"
          (editRatingClicked)="openRatingModal(detailEntity, $event)"
        >
        </app-ratings>
      </ng-container>
    </div>
  </ion-content>

  <input
    *ngIf="detailEntity"
    #fileInput
    type="file"
    accept="image/*"
    hidden
    (change)="takeImageFromDevice(detailEntity, $any($event.target))"
  />

  <ng-template #showError>
    <ion-content>
      <app-error-message [message]="error"></app-error-message>
    </ion-content>
  </ng-template>
</ng-container>

<ng-template #loading>
  <ion-loading isOpen="true"></ion-loading>
</ng-template>

<ng-template #imageSkeleton>
  <ion-skeleton-text
    class="image-skeleton"
    animated="true"
    style="width: 100%; height: 200px"
  ></ion-skeleton-text
></ng-template>

<ng-template #imagePlaceholder>
  <ion-img
    class="image-placeholder"
    src="assets/placeholders/placeholder-image-dark.jpg"
    alt="placeholder"
  ></ion-img>
</ng-template>
