<app-modal-dialog-base class="ion-page" [customFooterButtons]="buttons">
  <div class="ion-padding overflow-scroll">
    I created this app because I wanted to have my own full stack application
    that I could use to learn new technologies - mainly backend/databases: C#, .NET Core and SQL.
    <br>
    <br>
    But I also love to visit supermarkets with my girlfriend Mia!
    <div class="ion-padding-vertical">
      <img
        src="assets/Mia in a supermarket.jpg"
        alt="My girlfriend Mia in a supermarket"
        width="100%"
      />
    </div>
    So I thought it would be a good idea to create an app where we could keep
    track of the supermarkets we visit.
  </div>
</app-modal-dialog-base>
