@font-face {
  font-family: 'MuseoModerno';
  src: url('../assets/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'MuseoModerno';
  src: url('../assets/fonts/MuseoModerno/MuseoModerno-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Mulsih';
  src: url('../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Mulsih';
  src: url('../assets/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

@font-face{
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}


html{
  --ion-font-family: 'Mulsih', sans-serif;

  --app-padding: 8px;
  --app-margin: 16px;
}

h1, h2, h3, h4, h5, h6, ion-card-header {
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 20px;
  font-weight: 600;
}

p{
  font-size: 16px;
  font-weight: 500;
}

.ion-margin{
  margin: 16px;
}

ion-card{
  border: white 1px solid;
  --background: var(--ion-background-color);

  ion-card-content{
    padding: var(--app-padding);
  }
}

ion-item{
  --background: var(--ion-background-color);
}

.cursor{
  cursor: pointer;
}
